@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    li{
        @apply mr-4
    }
    
}

.edit{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    height: 30px;
    margin-top: 10px;
    border: none;
    margin-right: 20px;
    background-color: rgb(28, 238, 28);
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder::placeholder {
    color: #9CA3AF; 
    position: absolute;
    top: 8px;
    left: 8px;
    transform: translateY(-50%);
  }
  
  .placeholder:focus::placeholder {
    transform: translateY(0);
  }

    



